.rb-robert-todo {

}


/* Todos item
-------------------------------------------------- */

.rb-robert-todo_item {}

.rb-robert-todo_item_check-control {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    }

input.rb-robert-todo_item_checkbox {
    margin: -2px 0 0;
    }

.rb-robert-todo_item_checkbox {
    display: inline-block;
    vertical-align: middle;
    }

.rb-robert-todo_item_text {
    display: inline-block;
    }

.rb-robert-todo_item_actions {
    float: right;
    }

/* /Todos item */


